#wrap_top_hide{
	width:100%;
	min-height:70px;
	background-color:white;
	display:none;
}
#wrap_top{
	position:relative;
	width:100%;
	background-color:white;
}
#wrap_top p{
	line-height:100px;
	margin-left:7%;
	float:left;
	font-size: 16px;
	font-family: 'Microsoft Yahei';
	letter-spacing: 2px;
	color: #777;
	font-weight: 400;
}
.changetoleft_p{
	animation: changetoleft_p 0.5s;
	animation-iteration-count:1;
	animation-fill-mode : both;
}
@keyframes changetoleft_p
{
	from {
		margin-left:15%;
		line-height:100px;
	}
	to {
		margin-left:3%;
		line-height:50px;
	}
}
.wrap_top_hr{position:absolute; width:1%; height:70%; left:28%; top:15%; border:none; border-right:1.5px solid #0047AB; float:left;}
.wrap_body_hr{position:fixed; width:1%; height:100%; left:18%; top:0%; box-shadow: 5px 0 5px -5px #333; float:left; display:none;}
.changetoleft_hr{
	animation: changetoleft_hr 0.5s;
	animation-iteration-count:1;
	animation-fill-mode : both;
}
@keyframes changetoleft_hr
{
	from {left:28%;}
	to {left:18%;}
}
.changetosmall{
	animation: changetosmall 0.5s;
	animation-iteration-count:1;
	animation-fill-mode : both;
}
#wrap_body{
	position:relative;
	min-height:800px;
	width:80%;
	margin-left:10%;
}
#wrap_left{
	width:20%;
	top:20%;
	height:90%;
	position:absolute;
}
#wrap_left ul li{
	padding: 8px 20px;
	width:80%;
}
#wrap_left ul li{
	padding: 8px 20px;
}
#wrap_left li {
    display: inline-block;
	margin: 4px 5px 4px 0;
}
#wrap_left li a{
	text-decoration:none;
}
#wrap_left li:before {
	content: '○ ';
	font-size: 20px;
	color:#0047AB;
}
#wrap_left li:hover:after {
	content: '﹜';
	font-size: 20px;
	color: #C6273F;
}
#wrap_left li:hover:before{
	content: '○﹛';
	font-size: 20px;
	color: #C6273F;
}
#wrap_left li:hover a {
	color: #C6273F;
}
#wrap_right{
	width:70%;
	float:right;
}
#wrap_footer{
	width:100%;
}