<div class="member_box" id="member_edit">
	<div class="member_box_top"></div>
	<div class="member_box_scroll">
		<form id="form_edit">
			<div class="member_box_text1">
	            會員帳號：<font id="member_edit_account"></font>
            </div>
            <div class="member_box_text2">
	            會員暱稱：<font id="member_edit_nickname"></font>
            </div>
            <div class="clear"></div>   
	        <div class="small_button">
	            <input  class="member_box_input" name="member_edit_a_1" type="checkbox" />帳號管理權限<br>
	            <input  class="member_box_input" name="member_edit_a_2" type="checkbox" />編輯機構權限<br>
	            <input  class="member_box_input" name="member_edit_a_3" type="checkbox" />回覆留言權限<br>
	        </div>
	        <div class="all_button">
	            <button type="button" class="button_red" id="member_edit_send">確認送出</button>
	        </div>
        </form>
	</div>
	<div class="member_box_bottom"></div>
</div>
<label>單頁顯示：</label>
<select id="table_page_size" onchange='dataTable.resizePage($("#table_page_size").val())'>
    <option value="10">10</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select>
<label>搜尋類型：</label>
<select id="table_search">
    <option value="NO">編號</option>
    <option value="Name">帳號</option>
    <option value="NickName">暱稱</option>
</select>
<label>搜尋：</label>
<input type="text" id="searchBarText" />
<button onclick="search()">搜尋</button>
<br />
<table id="table" width="100%"></table>
<script>
    dataTable.init({
        TableID: "table",
        columns: [
            {
                id: "ID",
                title: "會員編號",
                sort: true,
                style: {
                    "width": "20px"
                }
            },
            {
                id: "Account",
                title: "會員帳號",
                sort: false,
                style: {
                    "width": "100px"
                }
            },
            {
                id: "NickName",
                title: "會員暱稱",
                sort: false,
                style: {
                    "width": "40px"
                }
            },
            {
                id: "A_1",
                title: "帳號管理權限",
                sort: true,
                style: {
                    "width": "50px"
                },
                action: function (value) {
                    return value===1  ? "V" : "";
                }
            },
            {
                id: "A_2",
                title: "編輯機構權限",
                sort: true,
                style: {
                    "width": "50px"
                },
                action: function (value) {
                    return value===1  ? "V" : "";
                }
            },
            {
                id: "A_3",
                title: "回覆留言權限",
                sort: true,
                style: {
                    "width": "50px"
                },
                action: function (value) {
                    return value===1  ? "V" : "";
                }
            },
            {
                id: "ID",
                title: "操作",
                sort: false,
                style: {
                    "width": "30px"
                },
                action: function (value) {
                    return "<button onclick='editAccount("+value+")'>編輯</button>";
                }
            }
        ],
        pageLimit: $("#table_page_size").val(),
        dataUrl: "/backStage/account/getAccountTable"
    });
    function search(){
        dataTable.reGet({
            search: $("#searchBarText").val(),
            searchType: $("#table_search").val()
        });
    }
    function editAccount(no){
        $.post("/backStage/account/getAccountDetail", {
            NO:no
        },
        function(data) {
            if (data == 'error') {
                toastr.error('', "錯誤!!!", {
                    "positionClass": "toast-bottom-full-width",
                    "timeOut": "3000",
                    "closeButton": true
                });
            } else {
                $("#member_edit_account").text(data.Account);
                $("#member_edit_nickname").text(data.NickName);
                $("input[name='member_edit_a_1']").prop('checked', data.A_1 == 1 ? true : false);
                $("input[name='member_edit_a_2']").prop('checked', data.A_2 == 1 ? true : false);
                $("input[name='member_edit_a_3']").prop('checked', data.A_3 == 1 ? true : false);
                $("#member_edit_send").click(function(){
                    SendAccountEdit(data.ID);
                });
                hideFloat();
                $(".member_box_bg").addClass("changememberopacity");
                $("#member_edit").addClass("changemembertrue");
                $("#member_edit").css({
                    "left": SIZE_TYPE + "%"
                });   
            }
        }, 'json');
    }
    function SendAccountEdit(NO){
        $.post("/backStage/account/editAccountDetail", {
            UserNO:NO,
            AA1:$("input[name='member_edit_a_1']").prop("checked"),
            AA2:$("input[name='member_edit_a_2']").prop("checked"),
            AA3:$("input[name='member_edit_a_3']").prop("checked")
        },
        function(data) {
            if (data == 'error') {
                toastr.error('', "錯誤!!!", {
                    "positionClass": "toast-bottom-full-width",
                    "timeOut": "3000",
                    "closeButton": true
                });
            } else {
                location.reload();
            }
        }, 'html');
    }
</script>