<label>顯示類型：</label>
<select id="table_page_type" onchange='search()'>
    <option value="unread" selected="selected">未讀</option>
    <option value="unreply">未回覆</option>
    <option value="reply">已回復</option>
</select>
<label>單頁顯示：</label>
<select id="table_page_size" onchange='dataTable.resizePage($("#table_page_size").val())'>
    <option value="10">10</option>
    <option value="50">50</option>
    <option value="100">100</option>
</select>
<label>搜尋類型：</label>
<select id="table_search">
    <option value="User" selected="selected">使用者名稱</option>
    <option value="Firm">機構名稱</option>
</select>
<label>搜尋：</label>
<input type="text" id="searchBarText" />
<button onclick="search()">搜尋</button>
<br />
<table id="table" width="100%"></table>
<script>
    dataTable.init({
        TableID: "table",
        columns: [
            {
                id: "ID",
                title: "",
                sort: false,
                style: {
                    "width": "20px"
                },
                action: function (value) {
                    return "<input  type='checkbox' value='"+value+"'/>";
                }
            },{
                id: "User",
                title: "留言者",
                sort: true,
                style: {
                    "width": "40px"
                }
            },{
                id: "Firm",
                title: "機構名稱",
                sort: true,
                style: {
                    "width": "40px"
                }
            },{
                id: "Time",
                title: "留言時間",
                sort: true,
                style: {
                    "width": "50px"
                }
            },{
                id: "ID_A",
                title: "",
                sort: false,
                style: {
                    "width": "20px"
                },
                action: function (value) {
                    return "<button onclick='replyRead("+value+")'>前往</button>";
                }
            }
        ],
        pageLimit: $("#table_page_size").val(),
        dataUrl: "/backStage/reply/getReadTable"
    });
    function search(){
        dataTable.reGet({
            search: $("#searchBarText").val(),
            searchType: $("#table_search").val(),
            replyType: $("#table_page_type").val()
        });
    }
    function replyRead(v){
        $.post("/backStage/reply/replyRead",{
            NO:v
        },function(status){
            if(status=="error"){
                toastr.error( '',"伺服器錯誤!", {
            		"positionClass": "toast-bottom-full-width",
        			"timeOut": "3000",
        			"closeButton": true
        		});
            }else{
                window.open(status);
            }
        });
        
    }
</script>